/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
}


/* header */

.header {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.header__content i,
.header__content span {
    font-size: 14px;
}

.header__content span {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.header__navbar .nav-item .nav-link {
    color: white;
    padding: 0 20px;
}

.header__navbar .navbar-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.header__navbar .nav-item::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all 0.5s
}

.header__navbar .nav-item:hover::after,
.header__navbar .navbar-nav .nav-item.active::after {
    width: 100%
}


/* carousel */

.carousel-item__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
}

.carousel-item__caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item__caption .title {
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px
}

.carousel-item__caption p {
    font-size: 18px;
    padding-right: 25%
}

.carousel-item__trailer span {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px
}

.btn-orange {
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 11px 30px;
    cursor: pointer;
}

.slider .carousel .carousel-indicators li {
    width: 11px;
    height: 11px;
    background: transparent;
    border: 1.5px solid white;
    border-radius: 50%;
}

.slider .carousel .carousel-indicators li.active {
    background-color: #fff;
}

.slider .carousel .carousel-indicators {
    justify-content: start
}


/* movie */

.movie {
    padding-top: 80px;
}

.movie__title {
    color: #ec7532;
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.movie__title::after {
    content: '';
    display: block;
    width: 160px;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0
}

.movie__items {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.movie__items .movie__detail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s
}

.movie__items .movie__detail i {
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px auto;
    line-height: 80px;
}

.movie__items .movie__detail a {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none
}

.movie__items .movie__detail span {
    font-size: 16px
}

.movie__ovelay {
    position: absolute;
    top: 0;
    left: -400%;
    transform: skewX(45deg);
    background: linear-gradient(to bottom, #fbbd61, #ec7532);
    width: 300%;
    height: 100%;
    transition: all 0.5s
}

.movie__items:hover .movie__ovelay {
    left: -100%;
}

.movie__items:hover .movie__detail {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.movie__name {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px
}

.movie__star {
    color: #fbbd61
}


/* showstime */

.showsTime {
    padding-top: 80px;
}

.showsTime .nav-tabs .nav-link {
    position: relative;
    color: #4a4a4a;
    padding: 10px 30px;
}

.showsTime .nav-tabs .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.5s
}

.showsTime .nav-tabs .nav-link:hover::after {
    width: 100%
}

.showsTime .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active::after {
    width: 100%
}

.showsTime .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.showsTime .nav-tabs .nav-link:hover {
    border: white;
}

.tab-pane>.row {
    padding: 50px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    color: #717171;
}

.showsTime__circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #717171;
    display: inline-block;
    margin-left: 10px
}

.time {
    padding: 10px 15px;
    background-color: #D8D8D8;
    border-radius: 5px;
    border: 1px solid #D8D8D8
}


/* commingsoon */

.comingSoon {
    padding-top: 80px;
    background-image: url("../img/slide-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white
}

.bg__black {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, rgba(19, 19, 21, 0.5));
    width: 100%;
    height: 100%;
}

.commingSoon__title {
    font-size: 18px;
    padding: 10px 0;
    border-bottom: white
}

.commingSoon__title::after {
    content: '';
    display: block;
    width: 160px;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
}

.comingSoon__video {
    position: relative;
}

.comingSoon__video .play {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%)
}

.comingSoon__video .play i {
    color: white;
    font-size: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    border: 3px solid #ec7532;
}

.comingSoon__star i {
    color: #fbbd61;
    font-size: 10px;
    padding-right: 5px
}

.comingSoon__top {
    padding-bottom: 70px;
}

.commingSoon__intro {
    color: #ec7532;
}

.info {
    color: #ec7532;
    transition: all 0.5s;
    text-decoration: none !important;
}

.info:hover {
    color: #fbbd61
}

.comingSoon__img--video {
    box-shadow: 0 0 50px 15px rgba(0, 0, 0, .75);
}

.owl-dots {
    display: none
}

.comingSoon__bottom {
    position: relative;
    margin-top: 60px
}

.owl-carousel .owl-nav button.owl-prev {
    color: #ec7532;
    position: absolute;
    top: 65px;
    left: -60px;
    font-size: 50px
}

.owl-carousel .owl-nav button.owl-next {
    color: #ec7532;
    position: absolute;
    top: 65px;
    right: -60px;
    font-size: 50px
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    color: #fbbd61;
    background: none;
    transition: all 0.5s
}


/* contact */

.contact {
    padding: 80px 0;
}

.contact p {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
    color: #4a4a4a;
}

.contact h2 {
    font-size: 46px;
    font-weight: 400;
    color: #ec7532
}


/* footer */

.footer {
    background-color: #101010;
    display: flex;
    align-items: center;
    color: white
}

.footer h3 {
    font-size: 16px;
    margin: 0;
    letter-spacing: 2px;
    color: #ec7532;
    border: none;
    padding-top: 50px
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-top: 10px
}

.footer ul li a {
    text-decoration: none;
    color: white
}

.footer ul li a i {
    margin-right: 10px
}

.footer ul li a:hover {
    color: #fbbd61;
    transition: all 0.5s
}

.footer__p {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px
}